
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

:root{
    --header-height:3rem;
    --nav-width:68px;

    --first-color:#f10086;
    --first-color-alt:#f582a7;
    --white-color:#ffeedd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    position:relative;
    margin:var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Josefin Sans';
    transition:-0.5s;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 1rem;
    transition: .5s;
}
.header-toggle{
    font-size: 1.25 rem;
    cursor:pointer;
    color: var(--first-color);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:var(--nav-width);
    background-color: var(--first-color);
    padding-top: 1rem;
    transition: ;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
   
    height:100%
}
.nav-logo,.nav-link{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav-logo{
    margin-bottom: 2rem;

}
.nav-logo-icons{
    font-size: size 1.25em;
    color: var(--white-color);
    cursor: pointer;
}
.nav-logo-name{
     font-weight: 700;
     color: var(--white-color);
}
.nav-link{
    color: var(--first-color-alt);
    transition: .5s;
    margin-bottom: 1.5rem;

}
.nav-link:hover{
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 1);
}
.active{
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 1);
}
.active:before{
    content: "";
    position: absolute;
    left: 0;
    height: 35px;
    width: 3px;
    background-color: var(--white-color);
    transition: .5s;
    
}