.viocol{
    background-color: darkmagenta;
}
,outline{
    outline: 2px;
}
.hhei1{
    /* height: 100vh; */
}
.inputbox{
    background-color: rgb(209, 211, 212);
}
.buthei{
    height:50px;
}
.outline{
    outline: none;
}