

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.img_h{
  height: 250px;
  width: 500px;
}
.img_car{
  display:grid;
  place-items: center;
  height: 250px;
  width: 350px;
}
.background12{
  background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
  min-height: 100vh;
  background-size: cover;
}
.text_col1{
  color: #ddd5d3;
}
.img_back{
  background-clip: text;
  -webkit-background-clip: text;
}
.background{
 
/* background: rgba(109, 178, 197, 1.0); */
/* background: -webkit-radial-gradient(center, rgba(109, 178, 197, 1.0), rgba(192, 213, 37, 1.0)); */
 /* background: -moz-radial-gradient(center, rgba(109, 178, 197, 1.0), rgba(192, 213, 37, 1.0)); */
/* background: radial-gradient(ellipse at center, rgba(109, 178, 197, 1.0), rgba(192, 213, 37, 1.0))*/
background-image:"https://cdn.vectorstock.com/i/preview-1x/49/71/colorful-abstract-overlap-of-pink-purple-vector-46204971.webp";
  min-height: 100vh;
  background-size: cover;
}
.nav{
  background-color:  #054f7d ;
}
.car{
  float:center !important;
}
.logo{
  background-color: rgb(191, 196, 228);
}

.logo1{
   width: 50%;
   aspect-ratio: 3/2;
   object-fit: contain;
   align-items: center;
   justify-content: space-around;
   margin-top: 40px;
   }
.round{
  border-radius: 100px;
  height: 40px; width: 40px !important;
  box-shadow: 20px 20px 50px 10px rgb(52, 171, 240) inset;

}

.App-link {
  color: #61dafb;
}
.imghover:hover{
  transform: scale(1.3);
  transition: 2s;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg,); 
;
  }
}
.class1{
  gap: 20px;
}
.cen{
  display: grid;
  place-items: center;
}
